html, body {
  font-family: "Open Sans", sans-serif;
}

@media all and (max-width: 480px) {
    html, body {
        font-size: 10px;
    }
}

#container {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #fff;
}

#progress {
  position: absolute;
  width: 100%;
  height: 1rem;
}

#bar {
  background-color: #000;
  height: 100%;
  transition: width 0.1s ease;
}

#bar.hide {
  opacity: 0;
  transition: opacity 1s ease;
}

#text {
  position: absolute;
  margin: 1rem;
}

#title {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px white;
  padding: 1rem;
  text-align: center;
}

#info {
  background-color: lightgray;
  max-width: 350px;
  height: auto;
  padding: 1rem;
  margin: 1%;
  border-radius: 1rem;
  display: none;
  float: left;
}

body.rtl #info {
  float: right;
}

#read-text {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 0;
  background-color: transparent;
  float: right;
  margin: 1rem;
  cursor: pointer;
}

body.rtl #read-text {
  float: left;
}

.play {
  background-image: url('play-circle.svg');
}

.pause {
  background-image: url('pause-circle.svg');
}

/*
#container > div:nth-child(3) > span:nth-child(2) {
  width: 3rem !important;
}
*/

#title,
#container > div:nth-child(3) > span:nth-child(2),
#container > div:nth-child(3) > span:nth-child(3),
#container > div:nth-child(3) > span:nth-child(4),
#container > div:nth-child(3) > span:nth-child(5),
#container > div:nth-child(3) > span:nth-child(6),
#container > div:nth-child(3) > span:nth-child(7),
#container > div:nth-child(3) > span:nth-child(8),
#container > div:nth-child(3) > span:nth-child(9),
#container > div:nth-child(3) > span:nth-child(10) {
  background-color: rgba(255,255,255,0.3);
  border-radius: 1rem;
}

body.rtl #container > div:nth-child(3) > span:nth-child(2),
body.rtl #container > div:nth-child(3) > span:nth-child(3),
body.rtl #container > div:nth-child(3) > span:nth-child(4),
body.rtl #container > div:nth-child(3) > span:nth-child(5),
body.rtl #container > div:nth-child(3) > span:nth-child(6),
body.rtl #container > div:nth-child(3) > span:nth-child(7),
body.rtl #container > div:nth-child(3) > span:nth-child(8),
body.rtl #container > div:nth-child(3) > span:nth-child(9),
body.rtl #container > div:nth-child(3) > span:nth-child(10) {
  float: left !important;
}

@media all and (max-width: 480px) {
  #container > div:nth-child(3) > span:nth-child(7),
  #container > div:nth-child(3) > span:nth-child(8),
  #container > div:nth-child(3) > span:nth-child(9),
  #container > div:nth-child(3) > span:nth-child(10) {
    display: none;
  }
}
